body {
    background-image: url(https://i.ytimg.com/vi/T40NSkd7Olc/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(50, 159, 205);
    text-shadow: 2px 2px 4px whitesmoke;
}

h2 {
    text-align: center;
    color: tomato;
    font-size: 3vw;
}

.game {
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    background: radial-gradient(circle at 100px 80px, rgb(206, 202, 202), black);
    box-shadow: 0 0 5px #81d7ec, 0 0 25px #81d7ec, 0 0 50px #81d7ec, 0 0 200px #81d7ec;
    perspective-origin: left;
}


#red {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    background-color: red;
    border-top-left-radius: 98%;
    opacity: 40%;  
}

#blue {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    background-color: blue;
    border-top-right-radius: 98%;
    opacity: 40%;
}

#green {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    border-top: 5px solid black;
    border-left: 5px solid black;
    background-color: green;
    border-bottom-right-radius: 98%;
    opacity: 40%;
}

#yellow {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-right: 5px solid black;
    border-top: 5px solid black;
    background-color: yellow;
    border-bottom-left-radius: 98%;
    opacity: 40%;
}

.start {
    margin-left: 20%;
    margin-bottom: 10%;
    padding: 20px 20px;
    display: inline-block;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
    color: #0d2425;
    overflow: hidden;
    border-radius: 20%;
}

.start:hover {
    background:#6af12b;
    color: #050801;
    box-shadow: 0 0 5px #6af12b, 0 0 25px #6af12b, 0 0 50px #6af12b, 0 0 200px #6af12b;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005)
}